apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
type: Opaque
stringData:
  admin.password: $2y$10$o7XXPQXYevzc67lZdJj5Iean2zNy/jQj9s3XjklUKIFCNdbUtHoVm%"
  admin.passwordMtime: "2025-01-01T00:00:00Z"
