server:
  persistentVolume:
    enabled: false
  service:
    type: LoadBalancer
    port: 9090
    annotations:
      service.k8s.aws/load-balancer-scheme: internet-facing

alertmanager:
  enabled: false

pushgateway:
  enabled: true
