apiVersion: apps/v1
kind: Deployment
metadata:
  name: matching-deploy
  namespace: matching
spec:
  replicas: 2
  selector:
    matchLabels:
      app: matching
  template:
    metadata:
      labels:
        app: matching
    spec:
      containers:
        - name: matching
          image: 061039804626.dkr.ecr.ap-northeast-2.amazonaws.com/t3-wagu-matching-server:latest # TODO: 매칭 서버 이미지로 교체
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: matching-secret
                  key: JWT_SECRET
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: allocator-client-cert
              mountPath: /etc/agones/allocator/client
              readOnly: true
            - name: allocator-ca-cert
              mountPath: /etc/agones/allocator/ca
              readOnly: true
      volumes:
        - name: allocator-client-cert
          secret:
            # client 시크릿
            secretName: allocator-client
        - name: allocator-ca-cert
          secret:
            # ca 시크릿
            secretName: allocator-ca
