apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
type: Opaque
stringData:
  admin.password: "$2y$10$90PRYUfS4D3.g.fOKDxNRuoFC9VGHlbSMCZYhaBJ6JZ5ZWfSWysHS"
  admin.passwordMtime: "2025-01-01T00:00:00Z"
